body{
    margin: 0 auto;
    height: 100%;
    padding: 0;
    font-size: 14px;
    font-family: Avenir, "Helvetica Neue", sans-serif;
 /*Navbar section*/ 
} 
#nav{
    display:flex;
    justify-content: space-between;
    margin:auto;
      align-items: center;
    padding: 10px 100px;

}
#nav>a>img{
    width:200px;
    margin:0 20px;
    height:auto; 
}
#nav>a>button{
    width:120px;
    height: 40px;
    margin:20px;
    background-color: #ff9400;
    padding:10px 40px;
    border:none;
    cursor: pointer;
    color:white;
    font-size:1rem;
    border-radius: 4px;
}

/*home header section*/

#home-header{
    background-image: url(https://assets.loseit.com/website/home/Wave.png), linear-gradient(90deg, rgba(245, 128, 30, 1) 0, rgba(246, 146, 29, 1) 100%);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    background-position: top, bottom;
    padding: 50px 0px;
    width: 100%;

}
#home-header .body-head{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:auto;
    width:850px;


}
#phone{
    height: 500px;
    width:250px;
    vertical-align: center;
}
.body-head>div>h1{
 
        color: #455555;        font-size: 50px;
        font-weight: 900;        margin-bottom: 10px;
    text-align: left;
     }
#home-header p{
    color:#455555;
    font-size:20px;
    
} 
#home-header a{
    margin-top:10px;
    
}
.body-head button{
    color:white;
    padding: 15px 30px;
    border-radius: 4px;
    background-color:#183962 ;
    border: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.fa-apple{
    font-size: 30px;
    color:gray;
}


