body{
    margin:0;
    padding:0;
}
#header img{
    width:250px;
}

#content{
    width:100%;
    height:auto;
    
    display:flex;
    justify-content: center;
    text-align: center;
   
}
#content>div{
    
    width:500px;
    margin:30px;
   
}
#content #headline{
    padding-top:150px;
    color:  #ff9400;
    font-weight: 500;
}
#marketing-child2{
   
    width:100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: 500;
    margin-top: 50px;

}
#marketing-child2>div{
    width:33%;

    
}
#marketing-child2>div>img{
    width:100px;
    
}
#marketing-child2>div>p{
    font-size: 14px;
}
#questions{
    background-color: #f5f5f5;
    height: 400px;
    border-radius: 8px;
    
    
}
#questions h2{
    color:#183962;
    font-weight: 700;
    font-size: 2rem;
    padding:0 50px;
    margin-top: 100px;

}

#questions a{
    
    display: block;
    width: 100px;
    padding:10px 30px;
    margin:20px;
    margin-left:150px;
    background-color: #ff9400;
    color:#ffff;
    text-decoration:none;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 20px;
}

#footer{
    text-align: center;
    background-color: #183962;
    padding-top:10px;
    margin-top: 50px;
    padding-bottom:30px;

}
#footer p{
    color:#fff;
    margin:10px;
}
#footer a{
    color:rgb(27, 27, 207);
    
}
#footer a:hover{
    color:#245692;
    text-decoration: underline;
}